*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h2{
    text-align: center;
    color: #fff;
    margin-top: 2%;
    text-decoration: underline;
}
p{
    font-size: 1.2rem;
    color: #fff;
}
body{
    background-color: rgb(34, 61, 142); 
}
#container{
    color: #fff;
    padding: 8vh 6% 8vh 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item{
    background-color: rgb(37, 37, 77);
    padding: 6% 12%;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 1rem;
}
.submitbutton{
    width: 15rem;
    padding: 4%;
    background-color:rgb(51, 243, 243);
    border-radius: 5px;
    border: none;
}
.submitbutton:hover{
    cursor: pointer;
}
select{
    width: 15rem;
    padding: 4% 0;
    margin: 1rem 0;
    text-align: center;
    border-radius: 5px;
}
#status{
    border: 1px solid red;
    padding: 4% 1%;
    text-align: center;
    width: 12rem;
    background-color: red;
    border-radius: 5px;
}
#para{
    display: flex;
    justify-content: center;
    align-items: center;
}


#score{
    padding: 4% 0%;
    text-align: center;
    border-radius: 1rem;
    background-color: rgb(6, 244, 244);
    color: rgb(51, 51, 210);
    font-weight: 550;
}
#finalresult{
    text-align: center;
    padding: 1rem 2.5rem;
    border: 4px solid #fff;
    margin-top: 0;
    font-weight: 550;
}
#upper p{
    margin-top: 1rem;
    font-weight: 550;
}
#lower p{
    margin-top: 2rem;
    font-weight: 550;
}

footer{
    display: flex;
    justify-content: center;
    align-items:end;
    padding: 6px 0 6px 0;
    margin-top: 4rem;
}
footer img{
    width: 1.3rem;
}
footer p{
    font-size: 1.2rem;
}
.play-again{
    padding: 0.8rem 2.2rem;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    background-color: rgb(230, 33, 33);
    color: #fff;

}